
/*
/*	Grab 'n Drop
	
	==* Commonly Used Font Families *==
		font-family: helvetica;
		font-family: Arial;
		font-family:;

	==*For breaking divs w/ floats*==
	:after{
		clear:both;
		content: " ";
		visibility: none;
		display: block;
	}
	
	==*For Cross Browser CSS3*==
		-moz-
			-webkit-
				-o-

	==*Box Shadow*==
		-moz-box-shadow: 0px 0px 0px 0px #000;
			-webkit-box-shadow: 0px 0px 0px #000;
				-o-box-shadow: 0px 0px 0px 0px #000;
	
	==*Link States*==
		:hover
		:active
		:visited
*/

html{}
body{}

/*
*== Misc Styles
*/

.fl{
	float: left;
}
.fr{
	float: right;
}
.cl{
	clear: both;
}
.lt{
	font-weight: lighter;
}
.bl{
	font-weight: bold;
}
.it{
    font-style: italic;
}
.cp{
	cursor: pointer;
}
.ma {
	margin: 0 auto;
}
.w100p{
	width: 100%;
}
.w900{
	width: 900px;
}
.w960{
	width: 960px;
}
.w1080{
	width: 1080;
}
.w1100{
	width: 1100px;
}
.tl{
	text-align: left;
}
.tr{
	text-align: right
}
.tc{
	text-align: center;
}
.tj{
	text-align: justify;
}
.lhn{
	line-height: normal;
}
.oh{
	overflow: hidden;
}
.oh-x{
	overflow-x: hidden;
}
.oh-y{
	overflow-y: hidden; 
}
.os{
	overflow: scroll
}
.os-y{
	overflow-y: scroll 
}
.oa{
	overflow: auto;
}
.tdn{
	text-decoration: none;
}
.db{
	display: block;
}
.dib{
	display: inline-block;
}

/*Font Sizes (12px - 48px)*/
.f10{
	font-size: 10px;
}
.f11{
	font-size: 11px;
}
.f12{
	font-size: 12px;
}
.f13{
	font-size: 13px;
}
.f14{
	font-size: 14px;
}
.f15{
	font-size: 15px;
}
.f16{
	font-size: 16px;
}
.f18{
	font-size: 18px;
}
.f19{
	font-size: 19px;
}
.f20{
	font-size: 20px;
}
.f21{
	font-size: 21px;
}
.f22{
	font-size: 22px;
}
.f23{
	font-size: 23px;
}
.f24{
	font-size: 24px;
}
.f25{
	font-size: 25px;
}
.f26{
	font-size: 26px;
}
.f27{
	font-size: 27px;
}
.f28{
	font-size: 28px;
}
.f29{
	font-size: 29px;
}
.f30{
	font-size: 30px;
}
.f31{
	font-size: 31px;
}
.f32{
	font-size: 32px;
}
.f33{
	font-size: 33px;
}
.f34{
	font-size: 34px;
}
.f35{
	font-size: 35px;
}
.f36{
	font-size: 36px;
}
.f37{
	font-size: 37px;
}
.f38{
	font-size: 38px
}
.f39{
	font-size: 39px;
}
.f40{
	font-size: 40px;
}
.f41{
	font-size: 41px;
}
.f42{
	font-size: 42px;
}
.f43{
	font-size: 43px;
}
.f44{
	font-size: 44px;
}
.f45{
	font-size: 45px;
}
.f46{
	font-size: 46px;
}
.f47{
	font-size: 47px;
}
.f48{
	font-size: 48px;
}
/*
*== Margins
*/
.mt5{
	margin-top: 5px
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top: 15px;
}
.mt20{
	margin-top: 20px;
}
.mt25{
	margin-top: 25px;
}
.mt30{
	margin-top: 30px;
}
.mt35{
	margin-top: 35px;
}
.mt40{
	margin-top: 40px;
}
/*Bottoms*/
.mb5{
	margin-bottom: 5px
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb25{
	margin-bottom: 25px;
}
.mb30{
	margin-bottom: 30px;
}
.mb35{
	margin-bottom: 35px;
}
.mt-40{
	margin-bottom: 40px;
}
/*Lefts*/
.ml5{
	margin-left: 5px
}
.ml10{
	margin-left: 10px;
}
.ml15{
	margin-left: 15px;
}
.ml20{
	margin-left: 20px;
}
.ml25{
	margin-left: 25px;
}
.ml30{
	margin-left: 30px;
}
.ml35{
	margin-left: 35px;
}
.ml40{
	margin-left: 40px;
}
/*Rights*/
.mr5{
	margin-right: 5px
}
.mr10{
	margin-right: 10px;
}
.mr15{
	margin-right: 15px;
}
.mr20{
	margin-right: 20px;
}
.mr25{
	margin-right: 25px;
}
.mr30{
	margin-right: 30px;
}
.mr35{
	margin-right: 35px;
}
.mr40{
	margin-right: 40px;
}
/*
*== Padding
*/
.pt5{
	padding-top: 5px;
}
.pt10{
	padding-top: 10px;
}
.pt15{
	padding-top: 15px;
}
.pt20{
	padding-top: 20px;
}
.pt25{
	padding-top: 25px;
}
.pt30{
	padding-top: 30px;
}
.pt35{
	padding-top: 35px;
}
.pt40{
	padding-top: 40px; 
}
/*Bottoms*/
.pb5{
	padding-bottom: 5px;
}
.pb10{
	padding-bottom: 10px;
}
.pb15{
	padding-bottom: 15px;
}
.pb20{
	padding-bottom: 20px;
}
.pb25{
	padding-bottom: 25px;
}
.pb30{
	padding-bottom: 30px;
}
.pb35{
	padding-bottom: 35px;
}
.pb40{
	padding-bottom: 40px; 
}
/*Lefts*/
.pl5{
	padding-left: 5px;
}
.pl10{
	padding-left: 10px;
}
.pl15{
	padding-left: 15px;
}
.pl20{
	padding-left: 20px;
}
.pl25{
	padding-left: 25px;
}
.pl30{
	padding-left: 30px;
}
.pl35{
	padding-left: 35px;
}
.pl40{
	padding-left: 40px; 
}
/*Rights*/
.pr5{
	padding-right: 5px;
}
.pr10{
	padding-right: 10px;
}
.pr15{
	padding-right: 15px;
}
.pr20{
	padding-right: 20px;
}
.pr25{
	padding-right: 25px;
}
.pr30{
	padding-right: 30px;
}
.pr35{
	padding-right: 35px;
}
.pr40{
	padding-right: 40px; 
}
/*Preferred Wrapping styles/classes*/
.bg-wrapper{
	/*background: ;*/
	/*background-image: url(); */
	/*font-family: "";*/
}
.wrapper{
	/*background: ;*/
	/*background-image: url();*/
	/*font-family: "";*/
}
.container{
	background: ;
	/*background-image: url();*/
	/*font-family: "";*/
}


/*
*== Form Styles **In order by hiegharchy**
*/

/*
  ==*Input Selectors*==	
  input[type="text"]
  input[type="checkbox"]	
*/

form {
	text-align: right
}
label{}
input{}
select{}
button{}

/*
  ==*W/ image background*==
button{
	background: none;
	border: none;
}*/

/*
*== footer styles
*/

footer{}
footer ul{}
footer ul li{}

/*
*== Responsive Template
*/

/*@media screen and (max-width: 1024px){

}
@media screen and (max-width: 768px){
	
}
@media screen and (max-width: 480px){

}
@media screen and (max-width: 320px){
	
}
*/